.about {
  background-color: white;
}

.about__title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: hotpink;
  font-size: 32px;
}